################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/obj
/src/bin/Debug/net5.0
/Tests/TestPlugins/Services/MockAuthentication/bin/Debug/net6.0
/Tests/TestPlugins/Services/MockAuthentication/obj
/Tests/TestPlugins/ViewModelPlugins/AuthenticationViewModelPlugin/.vs/AuthenticationViewModelPlugin
/Tests/TestPlugins/ViewModelPlugins/AuthenticationViewModelPlugin/bin/Debug/net6.0
/Tests/TestPlugins/ViewModelPlugins/AuthenticationViewModelPlugin/obj
/Tests/TestPlugins/ViewPlugins/AuthenticationView/obj
/Tests/TestPlugins/ViewViewModelPlugins/Authentication/AuthenticationViewModelPlugin/.vs/AuthenticationViewModelPlugin
/Tests/TestPlugins/ViewViewModelPlugins/Authentication/AuthenticationViewModelPlugin/bin/Debug/net6.0
/Tests/TestPlugins/ViewViewModelPlugins/Authentication/AuthenticationViewModelPlugin/obj/Debug/net6.0
/Tests/TestPlugins/ViewViewModelPlugins/Authentication/AuthenticationViewModelPlugin/obj
/Tests/TestPlugins/Services/TextService/bin/Debug/net6.0
/Tests/TestPlugins/Services/TextService/obj
/Tests/TestPlugins/ViewViewModelPlugins/EnterText/EnterTextViewModelPlugin/bin/Debug/net6.0
/Tests/TestPlugins/ViewViewModelPlugins/EnterText/EnterTextViewModelPlugin/obj
/Tests/TestServiceInterfaces/bin/Debug/net6.0
/Tests/TestServiceInterfaces/obj
/Tests/TestPlugins/ViewViewModelPlugins/ReceiveText/ReceiveTextViewModelPlugin/bin/Debug/net6.0
/Tests/TestPlugins/ViewViewModelPlugins/ReceiveText/ReceiveTextViewModelPlugin/obj
/Tests/TestPlugins/ViewViewModelPlugins/SecurityTest/SecurityTextViewModelPlugin/bin/Debug/net6.0
/Tests/TestPlugins/ViewViewModelPlugins/SecurityTest/SecurityTextViewModelPlugin/obj
/Tests/TestPlugins/ViewViewModelPlugins/CommonNonVisualLib/bin/Debug/net6.0
/Tests/TestPlugins/ViewViewModelPlugins/CommonNonVisualLib/obj
/src/bin/Debug/net6.0
*.nupkg
/Tests/Common/bin/Debug/net6.0
/Tests/Common/obj
/Messages/NP.Gidon.Messages/bin/Debug/net6.0
/Messages/NP.Gidon.Messages/obj
/Messages/NP.Gidon.MessagesProtos/obj
*.pyproj~
/Messages/NP.Gidon.PythonMessages/__pycache__
/Tests/Apps/SimplePyMatPlot/__pycache__
*.user
/Tests/Apps/SinusoidPyMatPlot/__pycache__
/Messages/NP.Gidon.Messages/bin/Release/net6.0
/Prototypes/BroadcastClientTest/bin/Release/net6.0/Plugins/Services/NP.GrpcConfig
/Prototypes/SubscribingClientTest/bin/Release/net6.0/Plugins/Services/NP.GrpcConfig
/Tests/Common/bin/Release/net6.0
/Tests/TestServiceInterfaces/bin/Release/net6.0
/src/bin/Release/net6.0/NP.Avalonia.Gidon.deps.json
/src/bin/Release/net6.0/NP.Avalonia.Gidon.dll
/src/bin/Release/net6.0/NP.Avalonia.Gidon.pdb
/Messages/NP.Gidon.MessagesProtos/bin/Release/net6.0
/Messages/NP.Gidon.PythonMessages/src/NP.Grpc.PythonMessages.egg-info/top_level.txt
/Messages/NP.Gidon.PythonMessages/src/NP.Grpc.PythonMessages.egg-info/SOURCES.txt
/Messages/NP.Gidon.PythonMessages/src/NP.Grpc.PythonMessages.egg-info/PKG-INFO
/Messages/NP.Gidon.PythonMessages/src/NP.Grpc.PythonMessages.egg-info/dependency_links.txt
/Messages/NP.Gidon.PythonMessages/src/NP.Grpc.PythonMessages.egg-info/dependency_links.txt
/Messages/NP.Gidon.PythonMessages/src/NP.Grpc.PythonMessages.egg-info
/Messages/NP.Gidon.PythonMessages/dist/NP.Grpc.PythonMessages-0.99.2.tar.gz
/Messages/NP.Gidon.PythonMessages/dist/NP.Grpc.PythonMessages-0.99.2-py3-none-any.whl
/Messages/NP.Gidon.PythonMessages/dist
