[submodule "SubModules/NP.Utilities"]
	path = SubModules/NP.Utilities
	url = https://github.com/npolyak/NP.Utilities.git
[submodule "SubModules/NP.Concepts.Behaviors"]
	path = SubModules/NP.Concepts.Behaviors
	url = https://github.com/npolyak/NP.Concepts.Behaviors.git
[submodule "SubModules/NP.NLogAdapter"]
	path = SubModules/NP.NLogAdapter
	url = https://github.com/npolyak/NP.NLogAdapter.git
[submodule "SubModules/NP.IoCy"]
	path = SubModules/NP.IoCy
	url = https://github.com/npolyak/NP.IoCy.git
[submodule "SubModules/NP.Avalonia.Visuals"]
	path = SubModules/NP.Avalonia.Visuals
	url = https://github.com/npolyak/NP.Avalonia.Visuals.git
[submodule "SubModules/NP.Avalonia.UniDock"]
	path = SubModules/NP.Avalonia.UniDock
	url = https://github.com/npolyak/NP.Avalonia.UniDock.git
[submodule "SubModules/NP.ViewModelInterfaces"]
	path = SubModules/NP.ViewModelInterfaces
	url = https://github.com/npolyak/NP.ViewModelInterfaces.git
[submodule "SubModules/NP.Avalonia.UniDockService"]
	path = SubModules/NP.Avalonia.UniDockService
	url = https://github.com/npolyak/NP.Avalonia.UniDockService.git
[submodule "SubModules/NP.DependencyInjection"]
	path = SubModules/NP.DependencyInjection
	url = https://github.com/npolyak/NP.DependencyInjection
[submodule "SubModules/NP.IoC.CommonImplementations"]
	path = SubModules/NP.IoC.CommonImplementations
	url = https://github.com/npolyak/NP.IoC.CommonImplementations
[submodule "SubModules/NP.Protobuf"]
	path = SubModules/NP.Protobuf
	url = https://github.com/npolyak/NP.Protobuf.git
[submodule "SubModules/NP.Grpc.RelayServer"]
	path = SubModules/NP.Grpc.RelayServer
	url = https://github.com/npolyak/NP.Grpc.RelayServer.git
