################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/obj
/src/bin/Debug/net5.0
/Tests/TestPlugins/Services/MockAuthentication/bin/Debug/net6.0
/Tests/TestPlugins/Services/MockAuthentication/obj
/Tests/TestPlugins/ViewModelPlugins/AuthenticationViewModelPlugin/.vs/AuthenticationViewModelPlugin
/Tests/TestPlugins/ViewModelPlugins/AuthenticationViewModelPlugin/bin/Debug/net6.0
/Tests/TestPlugins/ViewModelPlugins/AuthenticationViewModelPlugin/obj
/Tests/TestPlugins/ViewPlugins/AuthenticationView/obj
/Tests/TestPlugins/ViewViewModelPlugins/Authentication/AuthenticationViewModelPlugin/.vs/AuthenticationViewModelPlugin
/Tests/TestPlugins/ViewViewModelPlugins/Authentication/AuthenticationViewModelPlugin/bin/Debug/net6.0
/Tests/TestPlugins/ViewViewModelPlugins/Authentication/AuthenticationViewModelPlugin/obj/Debug/net6.0
/Tests/TestPlugins/ViewViewModelPlugins/Authentication/AuthenticationViewModelPlugin/obj
/Tests/TestPlugins/Services/TextService/bin/Debug/net6.0
/Tests/TestPlugins/Services/TextService/obj
/Tests/TestPlugins/ViewViewModelPlugins/EnterText/EnterTextViewModelPlugin/bin/Debug/net6.0
/Tests/TestPlugins/ViewViewModelPlugins/EnterText/EnterTextViewModelPlugin/obj
/Tests/TestServiceInterfaces/bin/Debug/net6.0
/Tests/TestServiceInterfaces/obj
/Tests/TestPlugins/ViewViewModelPlugins/ReceiveText/ReceiveTextViewModelPlugin/bin/Debug/net6.0
/Tests/TestPlugins/ViewViewModelPlugins/ReceiveText/ReceiveTextViewModelPlugin/obj
/Tests/TestPlugins/ViewViewModelPlugins/SecurityTest/SecurityTextViewModelPlugin/bin/Debug/net6.0
/Tests/TestPlugins/ViewViewModelPlugins/SecurityTest/SecurityTextViewModelPlugin/obj
/Tests/TestPlugins/ViewViewModelPlugins/CommonNonVisualLib/bin/Debug/net6.0
/Tests/TestPlugins/ViewViewModelPlugins/CommonNonVisualLib/obj
/src/bin/Debug/net6.0
*.nupkg
/Tests/Common/bin/Debug/net6.0
/Tests/Common/obj
/Messages/NP.Gidon.Messages/bin/Debug/net6.0
/Messages/NP.Gidon.Messages/obj
/Messages/NP.Gidon.MessagesProtos/obj
*.pyproj~
/Messages/NP.Gidon.PythonMessages/__pycache__
/Tests/Apps/SimplePyMatPlot/__pycache__
